{% extends "layout.html" %}

{% block content %}

<div class="modal fade" id="deleteConfirm" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmLabel">Delete Topic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this topic? Any subtopics will also be deleted.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger"
                    href="{{ url_for('topics.delete_topic', childID=childID, topicName=topicName) }}">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="content-section">
    <div class="row">
        <div class="col-7">
            <legend class="border-bottom mb-3">Topic Details</legend>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-danger btn-lg" style="width: 150px;" data-bs-toggle="modal"
                data-bs-target="#deleteConfirm">Delete Topic</button>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary btn-lg" style="width: 90px;"
                href="{{ url_for('topics.view_topics') }}">Back</a>
        </div>
    </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            <label for="child" class="form-control-label">Child</label>
            <select class="form-select form-select-sm" style="width: 50%;" id="child" disabled>
                <option selected>{{ child[0] }} {{ child[1] }}</option>
            </select>
        </div>
        <div class="form-group mb-3">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
            {{ form.name(class="form-control is-invalid", style="width: 50%;", id="nameInput",
            placeholder="Enter topic name") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.name(class="form-control", style="width: 50%;", id="nameInput", placeholder="Enter topic name") }}
            {% endif %}
        </div>
        <div class="form-group mb-3" id="type">
            {% for type in form.type %}
            <div class="form-check-inline">
                {{ type.label(class="form-check-label") }}
                {{ type(class="form-check-input", type="radio") }}
            </div>
            {% endfor %}
        </div>
        {% if parentTopic|length != 0 %}
        <div class="form-group mb-3" id="parentTopic">
            {{ form.parentTopic.label(class="form-select-label") }}
            {% if form.parentTopic.errors %}
            {{ form.parentTopic(class="form-select form-select-sm is-invalid", style="width: 50%;",
            id="parentTopicInput") }}
            <div class="invalid-feedback">
                {% for error in form.parentTopic.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.parentTopic(class="form-select form-select-sm", style="width: 50%;", id="parentTopicInput") }}
            {% endif %}
        </div>
        {% endif %}
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>
</div>

<script type="text/javascript" src="{{ url_for('topics.static', filename='change_topic_details_form.js') }}"></script>

{% endblock content %}