{% extends "layout.html" %}

{% block content %}

<div class="form-group">
    <div class="content-section">
        <div class="row">
            <div class="col-10">
                <legend class="border-bottom mb-3">Change Password</legend>
            </div>
            <div class="col">
                <a class="btn btn-outline-secondary" href="{{ url_for('account.account_details')}}"
                    style="width: 90px;">Back</a>
            </div>
        </div>
        <form method="POST" action="" name="changePasswordForm" id="changePasswordForm">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3">
                {{ form.currentPassword.label(class="form-control-label") }}
                {% if form.currentPassword.errors %}
                {{ form.currentPassword(class="form-control is-invalid", id="currentPasswordInput") }}
                <div class="invalid-feedback">
                    {% for error in form.currentPassword.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.currentPassword(class="form-control", id="currentPasswordInput",
                placeholder="Enter current password") }}
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid", id="passwordInput") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control", id="passwordInput", placeholder="Enter new password") }}
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.confirmPassword.label(class="form-control-label") }}
                {% if form.confirmPassword.errors %}
                {{ form.confirmPassword(class="form-control is-invalid", id="confirmPasswordInput") }}
                <div class="invalid-feedback">
                    {% for error in form.confirmPassword.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirmPassword(class="form-control", id="confirmPasswordInput",
                placeholder="Retype new password") }}
                {% endif %}
            </div>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('account.static', filename='change_password_form.js') }}"></script>

{% endblock content %}