{% extends "layout.html" %}

{% block content %}

<div class="form-group">
    <div class="content-section">
        <legend class="border-bottom mb-3">Change Password</legend>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid", id="passwordInput") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control", id="passwordInput",
                placeholder="Must be at least 8 characters and contain a capital letter") }}
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.confirmPassword.label(class="form-control-label") }}
                {% if form.confirmPassword.errors %}
                {{ form.confirmPassword(class="form-control is-invalid", id="confirmPasswordInput") }}
                <div class="invalid-feedback">
                    {% for error in form.confirmPassword.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirmPassword(class="form-control", id="confirmPasswordInput", placeholder="Retype password")
                }}
                {% endif %}
            </div>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('users.static', filename='password_reset_form.js') }}"></script>

{% endblock content %}