{% extends "layout.html" %}

{% block content %}

<div class="form-group">
    <div class="content-section">
        <legend class="border-bottom mb-3">Password Reset</legend>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid", id="emailInput") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control", id="emailInput", placeholder="Enter email") }}
                {% endif %}
            </div>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
        </form>
    </div>
</div>
<div class="form-group row mt-3 mb-3">
    <div class="form-group col-md-6">
        <div class="border-top pt-3">
            <small class="text-muted">
                Don't need to change your password? <a class="ml-2" href="{{ url_for('users.login') }}">Sign in</a>
            </small>
        </div>
    </div>
    <div class="form-group col-md-6">
        <div class="border-top pt-3">
            <small class="text-muted">
                Account unconfirmed? <a class="ml-2" href="{{ url_for('users.resend_confirm') }}">Resend confirmation
                    email</a>
            </small>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('users.static', filename='request_password_reset_form.js') }}"></script>

{% endblock content %}